.card-styling.card {
  display: block;
  margin: 0 auto;
  padding: 40px;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  width: 45rem;
}

::placeholder {
  font-family: "Raleway", sans-serif;
}
.btn-default {
  font-family: "Raleway", sans-serif;
}

#search {
  margin-top: 20px;
  font-family: "Raleway", sans-serif;
}

#fahrenheit-link {
  color: #6c757d;
  border-color: #6c757d;
}

#celsius-link {
  color: #6c757d;
  border-color: #6c757d;
}

.container {
  max-width: 720px;
}

.localTime {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: black;
  font-size: 15px;
}

.time {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 38px;
  color: black;
}

.cityTemp {
  font-family: "Raleway", sans-serif;
  padding: 20px 20px;
  text-align: center;
}
.cityName {
  font-size: 35px;
  color: black;
  font-family: "Raleway", sans-serif;
}

.cityDeg {
  font-size: 50px;
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.cityDescription {
  font-size: 35px;
  color: black;
}

.tempDetails {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  text-align: center;
  color: black;
}
.forecast {
  text-align: center;
  background: white;

  border-radius: 0.3rem;
}
#forecast-date {
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  text-align: center;
  color: black;
}

#forecast-temps {
  font-family: "Raleway", sans-serif;
  text-align: center;
}

#forecast-temp-max {
  color: black;
}

#forecast-temp-min {
  color: grey;
}

.openSource {
  text-align: center;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}

.row.g-0 > .col {
  border-right: 1px solid #f2f2f2;
}
