.card-styling.card {
  display: block;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  width: 45rem;
}

::placeholder {
  font-family: "Montserrat", sans-serif;
}
.btn-default {
  font-family: "Montserrat", sans-serif;
}

#search {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
}

#current-location {
  font-size: 20px;
  color: black;
}
#change-degree {
  font-size: 20px;
  color: black;
}
.container {
  max-width: 720px;
}

.localTime {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: black;
}

.time {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 38px;
  color: black;
}

.cityTemp {
  font-family: "Montserrat", sans-serif;
  padding: 20px 20px;
  text-align: center;
  border-radius: 0%;
  border-color: white;
}
.cityName {
  font-size: 50px;
  color: black;
}

.cityDeg {
  font-size: 50px;
  color: black;
}

.cityDescription {
  font-size: 30px;
  color: black;
}

.tempDetails {
  font-family: "Montserrat", sans-serif;
  text-align: left;
  font-size: 20px;
  color: black;
}
.forecast {
  color: #f8f9fa;
}
.celcius {
  color: black;
  font-size: 15px;
}

.fahrenheit {
  color: black;
  font-size: 15px;
}

.forecast {
  font-family: "Assistant", sans-serif;
  color: black;
}
.monday {
  background-color: white;
  text-align: center;
  padding: 20px;
}
.tuesday {
  background-color: white;
  text-align: center;
  padding: 20px;
}
.wednesday {
  background-color: white;
  text-align: center;
  padding: 20px;
}
.thursday {
  background-color: white;
  text-align: center;
  padding: 20px;
}
.friday {
  background-color: white;
  text-align: center;
  padding: 20px;
}
.saturday {
  background-color: white;
  text-align: center;
  padding: 20px;
}
.sunday {
  background-color: white;
  text-align: center;
  padding: 20px;
}

.openSource {
  text-align: center;
}

.row.g-0 > .col {
  border-right: 1px solid #f2f2f2;
}
